In [1]:
using JuMP, Gurobi
using CSV, LinearAlgebra, DataFrames
using Plots

In [2]:
ls = Vector{Any}(undef, 13) # there are 13 columns
ls[1] = String31 
for i in 2:13
    ls[i] = Float64
end

In [ ]:
#load the data and orgnize 
cap_cstr = CSV.read("/home/xue.326/julia_env/LiBattery_Env/data/capacity_constraints.csv", 
                    DataFrame, 
                    header=1,
                    types=ls) |> DataFrame

distance = CSV.File("/home/xue.326/julia_env/LiBattery_Env/data/distance.csv",header=1) |> DataFrame; 

LCA_model = CSV.File("/home/xue.326/julia_env/LiBattery_Env/data/lCA_model.csv",header=1) |> DataFrame

SD = CSV.File("/home/xue.326/julia_env/LiBattery_Env/data/emission_sink.csv",header=1) |> DataFrame; 

# first(cap_cstr, 5)
# first(distance, 5)
# ncol(distance)

In [51]:
first(cap_cstr, 5)

5×13 DataFrame
 Row │ Country    Li       Co       Mn       Ni        NMC111 powder  Graphite ⋯
     │ String31   Float64  Float64  Float64  Float64   Float64        Float64  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Argentina  10800.0      0.0    0.0         0.0            0.0       0.0 ⋯
   2 │ Australia  37000.0   7400.0    3.0e6  189000.0            0.0     500.0
   3 │ Bahrain        0.0      0.0    0.0         0.0            0.0       0.0
   4 │ Bolivia        0.0      0.0    0.0         0.0            0.0       0.0
   5 │ Brazil      1800.0      0.0    1.2e6  135000.0            0.0   87000.0 ⋯
                                                               6 columns omitted

In [52]:
first(LCA_model, 5)

5×4 DataFrame
 Row │ process        input (material/kg battery)  input (material/kWh battery ⋯
     │ String15       Float64                      Float64                     ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Li                                 0.00905                        0.063 ⋯
   2 │ Co                                 0.051                          0.358
   3 │ Mn                                 0.0479                         0.336
   4 │ Ni                                 0.051                          0.358
   5 │ NMC111 powder                      0.252                          1.77  ⋯
                                                               2 columns omitted

In [53]:
first(SD, 5)

5×3 DataFrame
 Row │ country    emission  sink ton/yr
     │ String31   Float64   Float64
─────┼──────────────────────────────────
   1 │ Argentina    1.98e8       1.79e8
   2 │ Australia    3.89e8       2.87e8
   3 │ Bahrain      3.33e7   72500.0
   4 │ Bolivia      8.97e7       1.73e8
   5 │ Brazil       8.19e8       1.81e9

In [82]:
w_cell = 164.98 # kg/pack
cap_cell = 23.5 # kWh/pack
cell_demand = 6000000 # annual demand of Li-ion battery for tesla (2M EV/yr, 3 NMC111 pack/EV)
gobal_sink = 1.53e9 # global CO2 sequestration
global_emission = 4.75e10 # global CO2 emission
EF_aircraft = 0.433 # kg CO2/km*ton emission factor for freight transporation 
A_powder = [0.2025, 0.1903, 0.2025, 0.072] # mineral inputs for 1 kg NMC111 powder
process = LCA_model[!,"process"]
countries = cap_cstr[!,"Country"];

In [59]:
n = size(countries,1); # No. of countries
m = size(process,1) # No. of processes

In [78]:
FU_mass = cell_demand * w_cell
input_FU = DataFrame(process = LCA_model[!,"process"], inputs = FU_mass .* LCA_model[!,"input (material/kg battery)"]);
first(input_FU, 5)

5×2 DataFrame
 Row │ process        inputs
     │ String15       Float64
─────┼──────────────────────────
   1 │ Li             8.95841e6
   2 │ Co             5.04839e7
   3 │ Mn             4.74153e7
   4 │ Ni             5.04839e7
   5 │ NMC111 powder  2.4945e8

In [79]:
input_FU[2, "inputs"]

5.048387999999999e7

--------------------

In [ ]:
model = Model(Gurobi.Optimizer)
set_optimizer_attribute(model, "NonConvex", 2);

In [ ]:
# indices/sets

ups_powder = [1, 2, 3, 4] # upstream processes for NMC111 powder
ups_cell = [5,6,7,8,9,10] # upstream processes for Li-ion battery manufacturing

4-element Vector{Int64}:
 1
 2
 3
 4

In [ ]:
#variables 
@variable(model, x[1:n, 1:m] >= 0) # production amount
@variable(model, y[1:n, 1:n, 1:m] >= 0);
# @variable(model, obj >= 0);


# LCA upstream As=f constraints
for j in ups_powder
    for i in 1:n
        @constraint(model, sum(y[k,i,j] for k in 1:n) == x[i,5] * A_powder[j])
    end
end

# production capacity constraints

# shippment amount constraints