In [1]:
using JuMP, Gurobi
using CSV, LinearAlgebra, DataFrames
using Plots

In [18]:
#load the data and orgnize 
cap_cstr = CSV.read("/home/xue.326/julia_env/LiBattery_Env/data/capacity_constraint.csv", 
                    DataFrame, 
                    header=1)  

distance = CSV.File("/home/xue.326/julia_env/LiBattery_Env/data/distance.csv",header=1) |> DataFrame;

In [19]:
first(cap_cstr, 5)

5×16 DataFrame
 Row │ Country    Li mining  Co mining  Mn mining  Ni mining  Li2SO4        Mn ⋯
     │ String31   Int64      Int64      Int64      Int64      Int64         In ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Argentina      10800          0          0          0        169000  10 ⋯
   2 │ Australia      37000       7400    3000000     189000        581000
   3 │ Bahrain            0          0          0          0  100000000000
   4 │ Bolivia            0          0          0          0  100000000000  10
   5 │ Brazil          1800          0    1200000     135000         28300     ⋯
                                                              10 columns omitted

In [14]:
println(typeof([Any, All(Float64)]))

Vector{Any}

In [23]:
size(cap_cstr)[2]

16

In [29]:
ls = Vector{Any}(undef,ncol(cap_cstr))
ls[1] = String31 
for i in 2:ncol(cap_cstr)
    ls[i] = Float64
end

println(ls)

Any[String31, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64, Float64]

In [30]:
# cap_cstr = CSV.read("/home/xue.326/julia_env/LiBattery_Env/data/capacity_constraint.csv", DataFrame, header=1) 



cap_cstr = CSV.read("/home/xue.326/julia_env/LiBattery_Env/data/capacity_constraint.csv", 
                    DataFrame, 
                    header=1, types=ls) 
first(cap_cstr, 5)

5×16 DataFrame
 Row │ Country    Li mining  Co mining  Mn mining  Ni mining  Li2SO4       MnS ⋯
     │ String31   Float64    Float64    Float64    Float64    Float64      Flo ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Argentina    10800.0        0.0      0.0          0.0  169000.0      1. ⋯
   2 │ Australia    37000.0     7400.0      3.0e6   189000.0  581000.0      0.
   3 │ Bahrain          0.0        0.0      0.0          0.0       1.0e11   0.
   4 │ Bolivia          0.0        0.0      0.0          0.0       1.0e11   1.
   5 │ Brazil        1800.0        0.0      1.2e6   135000.0   28300.0      0. ⋯
                                                              10 columns omitted